/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper-button-prev, .swiper-button-next {
  @apply text-primary !important
}

html {
  scroll-behavior: smooth;
}

@screen lg {
  html, a, label{
    cursor: none !important; 
    
  }
}

body {

  overflow-x: hidden;
}